anthropic==0.28.0
# boto3==1.37.13
boto3==1.38.24
botocore==1.37.13
dotenv
faiss-cpu==1.8.0
ipython==8.2.0
langchain>=0.2.17
# langchain-aws==0.1.15
langchain-aws==0.2.19
langfuse
langchain-community==0.2.19
langchain-core==0.2.43
langgraph==0.2.54
langsmith==0.1.147
locust==2.18.1
matplotlib==3.7.0
nltk==3.8.1
numpy==1.26.4
pdf2image==1.17.0
pip==24.1.2
requests==2.32.3
s3transfer==0.11.4
sagemaker<2.240.0
seaborn==0.13.2
streamlit==1.44.0
sqlalchemy
jinja2
opensearch-py==2.8.0
pandas
pyathena
termcolor==1.1.0
tokenizers==0.15.2
transformers==4.39.1
unstructured==0.7.12
ipython
